body {
    margin: 0;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

div[contenteditable] {
    outline: 0;
}

#menu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 0px;
    background-color: #aaa;
    color: black;
    height: 2em;
    overflow: hidden;
}

/*
 * item rules
 */
 
.item {
    float: left;
    padding: 6px;
    cursor: pointer;
    min-width: 10px;
    text-align: center;
}

.item:hover {
    background-color: #ff3;
}

.item.disabled {
    color: #fff;
}

.item.disabled:hover {
    background-color: transparent;
}

.item.active {
    background-color: #666;
}

.item.active:hover {
    background-color: #ee3;
}

/*
 * item specific rules
 */

.item#title {
}

.item#search input {
    border: 0;
}

.item#heading select {
    border: 0;
}

.item#bold {
    font-weight: bold;
}

.item#italic {
    font-style: italic;
}

.item#underline {
    text-decoration: underline;
}

.item#pre {
    font-family: courier;
}

.item#save {
    float: right;
}

